@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --darkBlue: #2f4157;
  --cream: #f8f2e4;
  --redAccent: #ff4b59;
  --yellowAccent: #ffc600;
  --greenAccent: #00ca48;
  --folder: #36a9e2;
  --folderShadow: #1d71b9;
  --paper: #fffff3;
  --paperShadow: #e4e2d3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8f2e4;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
